{% extends "market/base.html" %}
{% block content %}
{% load static %}

<!-- amountの入力フィールドだけ幅を狭くしておく -->
<style>
    .amountfield {
        width: 80px;
    }
</style>

<div>
<h2>注文する</h2>

<form action="" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>商品名</th>
                <th>単価</th>
                <th>個数</th>
                <th>注文者</th>
            </tr>
        </thead>
        <tbody>
            <!-- zipされたコンテキストからそれぞれ取り出す -->
            {% for form, goods in obj_list %}
            <tr>
                {% for field in form %}
                {% if forloop.counter0 == 1 %}
                <td>￥{{ goods.price }}</td>
                <td>{{ field }}</td>
                {% else %}
                <td>{{ field }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ formset.management_form }}
    {% csrf_token %}
    
    <button type="submit" class="btn btn-primary my-3">送信</button>
</form>

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">注文失敗：個数は1以上の値を設定し、個数を設定した欄には注文者も設定してください</div>
    {% endfor %}
{% endif %}

<!-- 静的ファイルへコンテキストを渡すため、ここで変数を定義しておく -->
<script>
    let formset_count = {{ formset|length|escape|safe }};
</script>
<script src="{% static 'market/form_manage.js' %}"></script>

<div class="my-3">
    <p>オプション：注文者を一括設定する（要Javascript）</p>
    <label for="order_name">入力欄</label>
    <input type="text" id="order_name">
    <button onClick="setName(0);" class="btn btn-primary">すべて設定</button>
    <button onClick="setName(1);" class="btn btn-primary">個数指定済みのものに設定</button>
</div>
</div>

{% endblock %}