{% extends "market/base.html" %}
{% block content %}

{% load extra_tags %}
{% load humanize %}
{% load static %}

<h2>{{ ordered }}の注文詳細</h2>

<div>
    商品名でフィルタリング：
    <select id="goods_select">
        <option value="すべて" id="all">すべて</option>
        {% for goods in goods_list %}
        <option value="{{ goods.name }}" id="{{ goods.id }}">{{ goods.name }}</option>
        {% endfor %}
    </select>
</div>

<form action="", method="post", id="delete_order_form">
    <div class="my-3">
        注文取消し：
        <button id="all-check-btn" class="btn btn-primary">すべてチェック</button>
        <button id="delete_order_btn" class="btn btn-danger" type="submit">注文を取り消す</button>
    </div>
    <!-- データ削除通知を表示する領域 -->
    <div id="delete_msg"></div>

    <table class="table table-sm table-hover border-top mt-4" id="order_table">
        <thead>
            <tr>
                <th class="border-end">商品名</th>
                <th class="border-end text-center">個数</th>
                <th class="border-end text-center">金額</th>
                <th>　日付</th>
            </tr>
        </thead>
        {% for order in order_list %}
        <tr style="display: table-row">
            <td class="border-end" style="width: 20%">
                <input 
                    type="checkbox"
                    id="delete_order_{{ forloop.counter }}"
                    name="delete_order"
                    value="{{ order.id }}"
                />
                <label for="delete_order_{{ forloop.counter }}">{{ order.goods.name }}</label>
            </td>
            <td class="border-end" align="right" style="width: 10%">{{ order.amount | intcomma }}個</td>
            <td class="border-end" align="right" style="width: 10%">￥{{ order.goods.price | multiply:order.amount | escape | intcomma }}</td>
            <td>　{{ order.date }}</td>
        </tr>
        {% endfor %}
    </table>
</form>

<a href="{% url 'market:order_list' %}">注文者一覧に戻る</a>

<script src="{% static 'market/order_manage.js' %}"></script>

{% endblock %}