{% extends "market/base.html" %}
{% block content %}

<h3>砂場</h3>
<form action="" method="POST">
    <table class="table">
        <thead>
            <th>商品名</th>
            <th>単価</th>
            <th>個数</th>
        </thead>
        <tbody>
            {% for goods in goods_list %}
            <tr>
                <td>{{ goods.name }}</td>
                <td>￥{{ goods.price }}</td>
                <td><input type="number" class="col-xs-2"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="my-3">
        <p>注文者：<input type="text"></p>
    </div>
    <button type="submit" class="btn btn-primary my-3">送信</button>
    {% csrf_token %}
</form>

{% endblock %}